@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";


@theme {
  --font-display: "Anton", sans-serif;
  --font-sans: "Inter", sans-serif;
}

@plugin "daisyui/theme" {
  name: "mytheme";
  --color-primary: #163B33;       /*primary background*/
   --color-primary-content: #BBFFD6; /* Font Color on Primary Elements */

  --color-secondary: #BBFFD6;   /*secondary background*/
   --color-secondary-content: #163B33;    /* Font Color on secondary Elements */

  --color-base-100: #000000;         /* Page Background */
   --color-base-content: #ffffff;  /*default font color*/
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-display);
}

html, body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  position: relative;
}
